.cursor-pointer {
    cursor: pointer;
}
.product-imitation {
    padding: 0px;
    height: 250px;
    background-color: white;
}
.product-desc {
    background-color: #fff;
}
.product-name {
    display: inline-block;
}
.product-edit {
    position: relative;
    margin-right: 5px;
    display: inline-block;
    top: -3px;
}
.product-imitation:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.product-imitation img {
    vertical-align: middle;
    max-width: 250px;
    max-height: 250px;
}

.wizard > .content > .body {
    position: relative;
}
form .btn {
    margin-right: 5px;
}
.wizard > .steps {
    position: relative;
    display: block;
    width: 100%;
}
.wizard ul {
    list-style: none !important;
    padding: 0;
    margin: 0;
}
.wizard .steps ul li {
    width: 25%;
    float: left;
}
.wizard .steps ul li .item {
    background: #eee;
    color: #aaa;
    cursor: default;
    display: block;
    width: auto;
    margin: 0 0.5em 0.5em;
    padding: 8px;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.wizard .steps ul li.current .item {
    background: #1ab394;
    color: #fff;
}
.wizard .steps ul li.done .item {
    background: #6fd1bd;
    color: #fff;
}
.wizard > .content {
    background: #eee;
    display: block;
    margin: 5px 5px 10px 5px;
    min-height: 120px;
    overflow: hidden;
    position: relative;
    width: auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.images-wrapp {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.prev-img {
    float: left;
    position: relative;
    box-sizing: border-box;
    width: 200px;
    height: 220px;
    padding-top: 30px;
    margin-right: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
}
.prev-img:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.prev-img .controls {
    position: absolute;
    top: 5px;
    left: 25px;
    width: 150px;
    text-align: center;
}
.prev-img .controls a {
    display: inline-block;
    font-size: 130%;
    color: #aaa;
    margin: 0 10px;
}
.prev-img .controls a:hover {
    color: #676a6c;
}
.prev-img img {
    vertical-align: middle;
    max-width: 180px;
    max-height: 180px;
}

/**
 * This is to override styles caused by .navbar-default
 */
.top-navigation .navbar-brand {
    background: #1ab394 !important;
    color: #fff !important;
    padding: 15px 25px;
}
.navbar-default .navbar-nav > li a {
    background-color: white !important;
}
.navbar-default .navbar-toggle {
    background-color: #1ab394 !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent !important;
}
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}